{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'image/logo2.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fomularios.css' %}" />
    <title>Editar Empleado</title>
</head>
<body>
    <div class="contenedor">
        <h1>Editar Empleado</h1>
        {% if request.session.estadoSesion %}
         
            {% if request.session.permisos == 'Independiente' %}
                {% if independi %}
                    <h2>Bienvenido {{ independi.primer_nombre }}</h2>
                    <form action="{% url 'actualizarIndependiente' independi.numero_identificacion %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </form>
                {% else %}
                    <h2>El usuario no encontrado</h2>
                {% endif %}
            {% else %}
                <h2>El usuario no tiene permisos para editar</h2>
            {% endif %}
        {% else %}
            <h2>El usuario no ha iniciado sesión</h2>
        {% endif %}
        <a href="{% url 'homeIndependiente' %}" class="btn btn-danger">Volver</a>
    </div>

    <script>
        window.addEventListener('beforeunload', function(event) {
        
            fetch('{% url "cerrar_sesion" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({})
            }).then(response => {
                if (response.ok) {
                 
                    window.location.href = '{% url "login" %}';
                }
            }).catch(error => {
                console.error('Error al cerrar sesión:', error);
               
            });
        });
    </script>
</body>
</html>
