{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_in.css' %}">
    <link rel="shortcut icon" href="{% static 'image/logo2.png' %}" type="image/x-icon">    <title>Iniciar sesión</title>
    <title>Iniciar sesión</title>
    
</head>
<body>
    <div class="contenedeor">
        <div class="logo">
            <img src="{% static 'image/logo2.png' %}" alt="PayMaster">
            <p>PayMaster</p>
        </div>
        <div class="volverB">
            <a class="link volver" href="{% url 'login' %}">Volver</a>
        </div>
        <div class="login">
            <h2>Iniciar sesión</h2>
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form class="formulario" method="post">
                {% csrf_token %}
                {{ form }}
                
                <div class="button">
                    <button class="boton" type="submit">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>