{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}" />
    <link rel="shortcut icon" href="{% static 'image/logo2.png' %}" type="image/x-icon" />
    <title>Empleados</title>
  </head>

  <body>
    <div class="contenedor">
      {% if request.session.estadoSesion %}
        {% if request.session.permisos == 'Contador' or request.session.permisos == 'Auxiliar Contable' or request.session.permisos == 'RRHH' %}
          <h1>Lista de Empleados</h1>
          <table>
            <thead>
              <tr>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Empresa</th>
                <th>Imagen</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for empleado in get_empleados %}
                <tr>
                  <td>{{ empleado.numero_identificacion }}</td>
                  <td>{{ empleado.primer_nombre }} {{ empleado.primer_apellido }}</td>
                  <td>{{ empleado.correo }}</td>
                  <td>{{ empleado.empresa }}</td>
                  <td>
                    <img src="{{ empleado.imagen.url }}" alt="Imagen" width="50" />
                  </td>
                  <td>
                    {% if request.session.permisos == 'RRHH' %}
                      <a class="a" href="{% url 'editarEmpleado' empleado.numero_identificacion %}">EDITAR</a>
                      <a class="a" href="{% url 'eliminaremple' empleado.numero_identificacion %}">Eliminar</a>
                      <a class="a" href="{% url 'registroNovedades' empleado.numero_identificacion %}">Registrar Novedades</a>
                    {% endif %}
                    {% if request.session.permisos == 'Contador' or request.session.permisos == 'Auxiliar Contable' %}
                      <a class="a" href="{% url 'calcularemple' empleado.numero_identificacion %}">Calcular</a>
                      <a class="a" href="{% url 'todos_los_calculos' empleado.numero_identificacion %}">Ver nomina</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="volverB">
            <a class="link" href="{% url 'ListarEmpresa' %}">Volver</a>
          </div>
        {% else %}
          <h1>El usuario no tiene permisos suficientes</h1>
        {% endif %}
      {% else %}
        <h1>El usuario no ha iniciado sesión</h1>
        <a class="link" href="{% url 'loginEmpresa' %}">Iniciar sesión</a>
      {% endif %}
    </div>
  </body>
</html>
