{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'image/logo2.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fomularios.css' %}" />
    <title>Menú de Inicio</title>  
</head>
<body>
    <div class="contenedor">
        <h2>REGISTRO EMPPLEADOS</h2>
        <form action= "{% url 'registroEmpleado' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="btnEnviar" class=button>ENVIAR</button>
        </form> 
        <a class="link" href="{% url 'homeEmpresa' %}">Volver</a>
    </div>
</body>
</html>
