@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --colorPrimario: #4A90E2;    /* Azul Primario */
    --colorSecundario: #dc3545;  /* Rojo Tango */
    --colorAcento: #F5A623;      /* Naranja de Acento */
    --colorFondo: #F4F4F4;       /* Gris Claro de Fondo */
    --colorTexto: #333333;       /* Negro Suave para Texto */
    --colorEncabezado: #4A4A4A;  /* Gris Oscuro para Encabezados */
    --colorBorde: #E0E0E0;       /* Gris Claro para Bordes */
}
*{
  font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--colorPrimario);
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 90%;
  overflow: auto;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  background-color: var(--colorFondo);
}
.titulo{
    color: var(--colorEncabezado);
    margin: 30px 0;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0px;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid var(--colorTexto);
    text-align: center;
}

th {
    background-color: var(--colorPrimario);
    color: white;
   
}

tr:nth-child(even) {
    background-color: var(--colorFondo);
}

tr:hover {
    background-color: #ddd;
}

.a {
    text-decoration: none;
    background-color: var(--colorPrimario);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.a:hover {
    background-color: var(--colorAcento);
}

.volverB{
    display: flex;
    align-items: end;
}
.link{
    display: flex;
    align-items: end;
    text-decoration: none;
    justify-content: center; 
    color: var(--colorTexto);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    margin: 15px 0;
}
.cerrar{
    background: none;
    border: none;
    cursor: pointer;
}
.link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 3px; 
    background-color: var(--colorAcento); 
    transition: width 0.3s ease-in-out;
}
.link:hover::after {
    width: 100%;
}
.link:hover {
    color: var(--colorAcento);
}
