{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" href="{% static 'image/logo2.png' %}" type="image/x-icon">
    <title>PayMaster</title>
</head>
<body>
    <div class="menu">
        <a href="#inicio"><img class="logo" src="{% static 'image/logo2.png' %}" alt="PayMaster"></a>
        <div class="encabezados">
            <a class="link" href="#inicio">Inicio</a>
            <a class="link" href="#nosotros">Sobre Nosotros</a>
            <a class="link" href="#contacto">Contactanos</a>
        </div>
        <a class="boton" href="{% url 'menu' %}">Iniciar Sesion</a>
    </div>
    <div id="inicio" class="contenedor">
        <div class="info">
            <p>Bienvenido a PayMaster</p>
            <p>Nuestro software contable es una herramienta integral diseñada para facilitar la gestión administrativa y financiera de tu empresa. 
                Con funcionalidades avanzadas y una interfaz intuitiva, nuestro software te permite llevar el control total de tus operaciones contables y de recursos humanos.</p>
        </div>
        <div class="imagen">
            <img src="{% static 'image/contadorInicio.png' %}" alt="contador">
        </div>
    </div>

    <div id="nosotros" class="contenedor">
        <div class="imagen">
            <img src="{% static 'image/contadorNosotros.png' %}" alt="contador">
        </div>
        <div class="info">
            <p>Sobre Nosotros</p>
            <p>Este software simplifica la gestión empresarial al centralizar múltiples empresas en una sola plataforma. Ofrece roles específicos como Administradores, Recursos Humanos, Contadores y Empleados, cada uno con acceso a funciones adaptadas. Facilita la incorporación de nuevos empleados con ingreso eficiente de datos. Automatiza el cálculo preciso de la nómina, cumpliendo normativas vigentes y reduciendo el tiempo necesario para procesar pagos.</p>
        </div>
    </div>

    <div id="contacto" class="contenedor">
        <div class="info">
            <p>Contactanos</p>
            <div class="contacto">
                <img src="{% static 'image/whatsapp.png' %}" alt="Whatsapp">
                <p>+57 3249401036</p>
            </div>
            <div class="contacto">
                <img src="{% static 'image/gmail.png' %}" alt="gmail">
                <p>p4ym4ster@gmail.com</p>
            </div>
        </div>
        <div class="imagen">
            <img src="{% static 'image/contadorContacto.png' %}" alt="contador">
        </div>
    </div>
    <div class="pie">
        <div class="pie1">
            <p>&copy; 2024 PayMaster. Todos los derechos reservados.</p>
            <p>ADSO 2672364</p>
        </div>
        <div class="pie2">
            <p>Diiego Camiino</p>
            <p>Vanessa Garcia</p>
            <p>Helmut Ramirez</p>
        </div>
    </div>

</body>
</html>